Repository hmcts/pcq-backend, pull requests merged in 2020-09, with the labels that each got.

#140 PCQ-622 Add token endpoint for BSP
  Jenkinsfile_CNP
  bin/idam-service-token.sh
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.preview.template.yaml
  charts/pcq-backend/values.yaml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/BulkScanServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/IdamServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/AuthServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/BlobStorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/InvalidAuthenticationException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/UnableToGenerateSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/SasTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/AuthorisedServices.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/AuthService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/AuthorisedServicesTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/util/BlobStorageInitialisation.java
  src/test/resources/application.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-140

#142 PCQ-622 update S2S URL
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-142

#146 PCQ-1234: Fix nightly pipeline.
  Jenkinsfile_nightly
  audit.json
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-146

#149 PCQ-633 Update to change authorised service to reform_scan_blob_router
  bin/idam-service-token.sh
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/AuthorisedServicesTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/AuthServiceTest.java
  src/test/resources/application.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-149

#148 PCQ-636: Serenity report fixes
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/CreatePcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/OptOutPcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqBaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqRecordWithoutCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqWithoutCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/UpdatePcqAnswersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/CreatePcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqRecordWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/OptOutPcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/UpdatePcqRequestTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-148

#147 PCQ-637: Add smoke test for getAnswer endpoint
  README.md
  src/smokeTest/java/uk/gov/hmcts/reform/pcqbackend/smoke/SmokeTests.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-147

#153 PCQ-646: Add readiness check components
  src/main/resources/application.properties
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-153

#150 PCQ-580 - Paper PCQ back-end schema changes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PaperChannelPcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqBaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/functionalTest/resources/JsonSchema/answer_definitions_schema.json
  src/functionalTest/resources/JsonSchema/submitAnswersSchema.json
  src/functionalTest/resources/JsonTestFiles/FirstSubmitDcnAnswer.json
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqRecordWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PaperChannelTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqIntegrationTest.java
  src/integrationTest/resources/JsonSchema/answer_definitions_schema.json
  src/integrationTest/resources/JsonSchema/submitAnswersSchema.json
  src/integrationTest/resources/JsonTestFiles/FirstSubmitDcnAnswer.json
  src/integrationTest/resources/JsonTestFiles/FirstSubmitDcnAnswerWithCase.json
  src/integrationTest/resources/JsonTestFiles/InvalidVersionForPaper.json
  src/integrationTest/resources/JsonTestFiles/SubmitDcnAllAnswers.json
  src/integrationTest/resources/JsonTestFiles/SubmitDcnInvalidAnswers.json
  src/integrationTest/resources/JsonTestFiles/SubmitDcnSqlInjection.json
  src/integrationTest/resources/JsonTestFiles/invalidDcnAnswerRange.json
  src/integrationTest/resources/JsonTestFiles/invalidDcnBlank.json
  src/integrationTest/resources/JsonTestFiles/invalidDcnDob.json
  src/integrationTest/resources/JsonTestFiles/invalidDcnMissing.json
  src/main/java/uk/gov/hmcts/reform/pcqbackend/domain/ProtectedCharacteristics.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqAnswerRequest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqAnswerResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepository.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/main/resources/JsonSchema/answer_definitions_schema.json
  src/main/resources/JsonSchema/submitAnswersSchema.json
  src/main/resources/db/integtest/V005__Schema.sql
  src/main/resources/db/migration/V004__Schema.sql
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
  src/test/resources/JsonSchema/answer_definitions_schema.json
  src/test/resources/JsonSchema/submitAnswersSchema.json
  src/test/resources/JsonTestFiles/FirstSubmitAnswerDcnEmpty.json
  src/test/resources/JsonTestFiles/FirstSubmitAnswerDcnMissing.json
  src/test/resources/JsonTestFiles/FirstSubmitAnswerPaperChannel.json
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-150
