Repository hmcts/pcq-backend, pull requests merged in 2020-05, with the labels that each got.

#88 PCQ_48_Nightly_build_fix Added suppression for false positive for log4j jar
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-88

#90 PCQ_288 - Increased container size for the perftest
  Jenkinsfile_CNP
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.perftest.template.yaml
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-90

#91 PCQ-288 - Updated container size for perftest and removed installCharts
  Jenkinsfile_CNP
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.perftest.template.yaml
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-91

#94 PCQ-329 Updated to fix username issue.
  Jenkinsfile_CNP
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:pcq, rel:pcq-backend-pr-94

#98 PCQ_288_ Added recommended container sizes for all environments
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.perftest.template.yaml
  charts/pcq-backend/values.yaml
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-98

#99 PCQ_288_Added suppression for false positive
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-99

#100 PCQ-333: Fix app insights logging.
  src/main/resources/bootstrap.yaml
Labels: ns:pcq, rel:pcq-backend-pr-100

#103 Updated suppressions.xml for false positives.
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-103
