Repository hmcts/pcq-backend, pull requests merged in 2020-04, with the labels that each got.

#49 Pcq 44 enable security config
  .travis.yml
  Jenkinsfile_nightly
Labels: ns:pcq, rel:pcq-backend-pr-49

#58 Pcq 178 jwt authentication and tests
  .env
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/PcqBackEndServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqBaseFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/uk/gov/hmcts/reform/pcqbackend/gitcommit/git.properties
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilterTest.java
  src/test/resources/application.yaml
Labels: ns:pcq, rel:pcq-backend-pr-58

#59 PCQ_179_Changed getAnswers not found response to 404
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/DataNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
Labels: ns:pcq, rel:pcq-backend-pr-59

#63 PCQ-119 - PGP Encryption code added
  .env
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/resources/JsonTestFiles/FirstSubmitAnswerWithCase.json
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: ns:pcq, rel:pcq-backend-pr-63

#64 PCQ-145 Merge master to demo
  .env
  .travis.yml
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/PcqBackEndServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqBaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqWithoutCaseTest.java
  src/functionalTest/resources/JsonTestFiles/FirstSubmitAnswerWithCase.json
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/UpdatePcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/DataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepository.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/util/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/uk/gov/hmcts/reform/pcqbackend/gitcommit/git.properties
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilterTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/util/FlywayNoOpStrategyTest.java
  src/test/resources/application.yaml
Labels: ns:pcq, rel:pcq-backend-pr-64

#67 Pcq 119 encryption fix
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.preview.template.yaml
  charts/pcq-backend/values.yaml
  config/owasp/suppressions.xml
  docker/database/init-db.sh
  src/functionalTest/resources/JsonTestFiles/DobSubmitAnswer.json
  src/functionalTest/resources/JsonTestFiles/FirstSubmitAnswer.json
  src/functionalTest/resources/JsonTestFiles/FirstSubmitAnswerWithCase.json
  src/functionalTest/resources/JsonTestFiles/InvalidJson1.json
  src/functionalTest/resources/JsonTestFiles/InvalidVersion.json
  src/functionalTest/resources/JsonTestFiles/StaleSubmitAnswer.json
  src/functionalTest/resources/JsonTestFiles/UpdateSubmitAnswer.json
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqIntegrationTest.java
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/TransformerColumnKeyLoader.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/domain/ProtectedCharacteristics.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/main/resources/META-INF/spring.factories
  src/main/resources/application.yaml
  src/main/resources/db/integtest/V004__Schema.sql
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/RandomTestClass.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/RandomTestClass2.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/TestProtectedCharacteristics.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/TestProtectedCharacteristics2.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/TransformerColumnKeyLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: ns:pcq, rel:pcq-backend-pr-67

#68 PCQ_189 Updated versions for the dependencies
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/TransformerColumnKeyLoader.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
Labels: ns:pcq, rel:pcq-backend-pr-68

#69 PCQ_205 - Suppressions file changes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcq, rel:pcq-backend-pr-69

#70 PCQ_30 - Fixed the NightlyBuild
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
Labels: ns:pcq, rel:pcq-backend-pr-70

#78 PCQ_46 - Updated Jenkins Nightly file to push reports to functional-output folder
  Jenkinsfile_nightly
Labels: ns:pcq, rel:pcq-backend-pr-78

#85 PCQ_48 - Updated build.gradle for pitest Nightly Build fix
  build.gradle
Labels: ns:pcq, rel:pcq-backend-pr-85

#86 PCQ_48 - Nightly Build Security Fix Added file to ignore false positives
  audit.json
  build.gradle
Labels: ns:pcq, rel:pcq-backend-pr-86
