Repository hmcts/pcq-backend, pull requests merged in 2020-06, with the labels that each got.

#110 Nightly Build Fix - Enabled vaultSecrets in Jenkins Nightly
  Jenkinsfile_nightly
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqWithoutCaseTest.java
Labels: ns:pcq, rel:pcq-backend-pr-110

#115 Pcq 514 pcq without case new api
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/PcqBackEndServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqRecordWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqRecordWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqRecordWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-115

#116 PCQ-514_Added suppression for false positive for the new API
  audit.json
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-116

#118 PCQ-522 Run pcq-backend as docker.
  README.md
  bin/set-pcq-docker-env.sh
  docker-compose.yml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-118
