Repository hmcts/pcq-backend, pull requests merged in 2020-10, with the labels that each got.

#166 PCQ-696 - Updated java plugin and removed health/readiness from jwt monitor
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-166

#154 PCQ-651: Update terraform to 0.13
  .terraform-version
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-154

#169 PCQ-651: Remove old MI
  infrastructure/aat.tfvars
  infrastructure/variables.tf
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-169

#172 PCQ-689 Updated to address sonarcloud issues.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqRecordWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/AuthorisedServicesTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilterTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/util/FlywayNoOpStrategyTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-172

#179 PCQ_685 - Re-factored code to use pcq-commons
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/PcqBackEndServiceClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/CreatePcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/OptOutPcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PaperChannelPcqAnswersTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqBaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqRecordWithoutCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqWithoutCaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/UpdatePcqAnswersTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/AddCaseForPcqTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/CreatePcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqRecordWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/GetPcqWithoutCaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/OptOutPcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PaperChannelTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/UpdatePcqRequestTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqBackEndClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/PcqIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqAnswerRequest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqAnswerResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqAnswers.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqRecordWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/PcqWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/SasTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/model/SubmitResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/utils/ConversionUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilterTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-179

#185 PCQ718 - Added new method to persist record
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepository.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepositoryCustom.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-185

#186 PCQ718 - Upgraded tomcat version to fix dependency check error
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-186
