Repository hmcts/pcq-backend, pull requests merged in 2022-01, with the labels that each got.

#398 PCQ‐1134: Fix for task ':processResources' uses output of task ':generrateGitProperties' without declaring an explicit or implicit dependency.
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-398

#399 added swagger generator test and github action
  .github/workflows/swagger.yml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/SwaggerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/SwaggerGeneratorTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-399

#400 PCQ-1241 Ignoring Delete endpoint from swagger documentation
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-400
