Repository hmcts/pcq-backend, pull requests merged in 2023-05, with the labels that each got.

#623 PCQ-1723 CVE-2023-20873 fix
  build.gradle
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-623

#619 Remove unnecessary logs.
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/client/IdamServiceClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/OptOutPcqRequestTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/DeleteService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/util/BlobStorageInitialisation.java
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-619

#620 Pcq 1645
  .gitignore
  Dockerfile
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/util/SpringBootIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/Application.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/domain/ProtectedCharacteristics.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/DeleteService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/util/AppInsightsConfig.java
  src/main/resources/application.properties
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/config/SwaggerGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilterTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/util/AppInsightsConfigTest.java
  src/test/resources/application.yaml
Labels: ns:pcq, prd:pcq, keep-helm, rel:pcq-backend-pr-620

#630 PCQ-1730 update keystore config
  build.gradle
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-630

#634 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-634

#636 PCQ-1647 bump gradle to version 8
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pcq, prd:pcq, rel:pcq-backend-pr-636
