Repository hmcts/pcq-backend, pull requests merged in 2024-03, with the labels that each got.

#961 PCQ-Backend suppression
  audit.json
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-961

#969 Enable spotInstances
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-969

#970 PCQ-1880 EnableautoScaling
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-970

#976 PCQ-1880 maxReplica set to 2 for lower env
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-976

#978 PCQ-backend change memory Request and limits
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-978

#983 PCQ-1728 azure-storage-blob upgrade
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-983

#985 Enable auto grow postgres db
  infrastructure/main.tf
Labels: prd:pcq, ns:pcq, destroy, rel:pcq-backend-pr-985
