Repository hmcts/pcq-backend, pull requests merged in 2024-06, with the labels that each got.

#1050 Remove CVE suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: prd:pcq, ns:pcq, aat/no-changes, prod/no-changes, rel:pcq-backend-pr-1050

#1062 PCQ-1651 address sonarcloud code smells
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersErrorResponseTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/domain/ProtectedCharacteristics.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/DataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/InvalidAuthenticationException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/InvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/MigrationScriptException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/SchemaValidationException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/exceptions/UnableToGenerateSasTokenException.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepository.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/ProtectedCharacteristicsRepositoryCustom.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/JwtTokenFilter.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenService.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/ConsolidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/ConsolidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SasTokenServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1062

#1068 PCQ-1651 address missed code smells
  src/test/java/uk/gov/hmcts/reform/pcqbackend/controllers/PcqAnswersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/SubmitAnswersServiceTest.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1068

#1027 Lau 882 populate last updated
  src/main/resources/db/migration/V008__Schema.sql
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1027

#1074 LAU-883 add explicit setting to enable/disable PCQ disposer
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceTest.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1074

#1076 Lau 892
  .gitignore
  src/test/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImplTest.java
  src/test/resources/application.yaml
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1076

#1082 Cleanup db migrations
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/db/migration/V009__Schema.sql
  src/test/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImplTest.java
  src/test/resources/application.yaml
Labels: prd:pcq, ns:pcq, enable_keep_helm, rel:pcq-backend-pr-1082

#1086 LAU-883 enable job
  charts/pcq-backend/Chart.yaml
  charts/pcq-backend/values.aat.template.yaml
  charts/pcq-backend/values.preview.template.yaml
  charts/pcq-backend/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/Application.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/JobApplication.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pcqbackend/ApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/JobApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/repository/impl/ProtectedCharacteristicsRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceTest.java
Labels: prd:pcq, ns:pcq, enable_keep_helm, rel:pcq-backend-pr-1086

#1036 Lau 884 set updated time not null
  src/main/resources/db/migration/V010__Schema.sql
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1036

#1091 update logging
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerService.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1091

#1093 LAU-887 enable simulation mode
  src/integrationTest/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerService.java
  src/test/java/uk/gov/hmcts/reform/pcqbackend/service/PcqDisposerServiceTest.java
Labels: prd:pcq, ns:pcq, rel:pcq-backend-pr-1093
